* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  display: flex;
  background: #f4f6f9;
  color: #333;
}

.sidebar {
  width: 220px;
  background: #2f3542;
  min-height: 100vh;
  padding: 20px;
  color: white;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
  color: #70a1ff;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  padding: 15px 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar ul li:hover {
  background: #57606f;
}

.main {
  flex: 1;
  padding: 20px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.topbar h1 {
  font-size: 28px;
}

.topbar input {
  padding: 8px 12px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: white;
  font-size:30px ;
  background-color: transparent;
  text-decoration: none;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #2f3542;
}

.card p {
  font-size: 24px;
  font-weight: bold;
  color: #1e90ff;
}

.chart-placeholder {
  background: white;
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
